<div class="full">
    <div class="form">
        <h1>LOGIN</h1>
        <form [formGroup]="loginform">
            <div class="inputs">
                <label for="email"><b>Email</b></label>
                <input type="text" formControlName="email" placeholder="enter your email">
            
                    <span *ngIf="emailhere?.invalid && emailhere?.touched" >invalid email</span>
               
            </div>
            <div class="inputs">
                <label for="pass"><b>Password</b></label>
                <input type="password" formControlName="pass" placeholder="enter your password">
         
                    <span *ngIf="passhere?.invalid && passhere?.touched">please enter password</span>
  
            </div>
            <div class="forgot">
                <a>Forgot Password</a>
            </div>
            <div class="button">
                <button (click)="postvalues()">LOGIN</button>
            </div>
            <p>Don't have account? <a routerLink="login">Create account</a></p>   

        </form>
    </div>
</div>